---
import Layout from "../layouts/Layout.astro";
import App from "../components/app.jsx";
---

<Layout title="Welcome to Astro.">
	<nav
		class="sticky top-0 w-full flex flex-wrap items-center justify-between py-3 bg-gray-100 text-gray-500 shadow-lg z-50"
	>
		<div
			class="container-fluid w-full flex flex-wrap items-center justify-between px-6"
		>
			<div class="container-fluid">
				<a
					class="text-black text-2xl md:text-4xl font-semibold"
					href="#">Salchi<b>Dogs</b></a
				>
			</div>
		</div>
	</nav>
	<App client:visible />
</Layout>
