---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="shortcut icon"
			type="image/svg+xml"
			href="/dachshund/dachshund.svg?"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<Header />
	<body>
		<slot />
	</body>
	<Footer />

	<style is:global>
		html {
			font-family: system-ui, sans-serif;
			background-color: #f6f6f6;
		}
	</style>
</html>
