---
const { title } = Astro.props;

let year = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" type="image/svg+xml" href="/dachshund.svg?" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header class="sticky top-0 z-50">
		<nav
			class="w-full flex flex-wrap items-center justify-between py-3 bg-gray-100 text-gray-500 shadow-lg"
		>
			<div
				class="container-fluid w-full flex flex-wrap items-center justify-between px-6"
			>
				<div class="container-fluid">
					<a
						class="text-black text-2xl md:text-4xl font-semibold"
						href="#">Salchi<b>Dogs</b></a
					>
				</div>
			</div>
		</nav>
	</header>
	<body>
		<slot />
	</body>
	<footer class="p-4 bg-white rounded-lg shadow flex justify-center md:p-6">
		<span class="text-sm text-gray-500"
			>© {year}. All Rights Reserved.
		</span>
	</footer>

	<style is:global>
		html {
			font-family: system-ui, sans-serif;
			background-color: #f6f6f6;
		}
	</style>


</html>
